/* START HIỂN THỊ CHỨC NĂNG */

/* START NAV */
/* Tìm kiếm */
.my_class_active{
    margin-left: 12px;
}
.nav_search{
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 0px 20px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.nav_search i{
    color: #8c8c8c;
    font-size: 18px;
}
.btn_nav_search{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    margin-top: 8px;
    height: 70%;
}
/* Phần hiển thị giỏ hàng */

.btn_giohang{
    position: relative;
}

.show_giohang{
    display: none;
    background-color:#fafafb ;
    position: absolute;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 345px;
    right: 0;
}
.show_giohang_title b{
    font-size: 20px;
    margin-left: 16px;

}
.show_giohang_thanhtoan p{
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 0px;
}
.show_giohang_thanhtoan img{
    margin-bottom: 10px;
    margin-left: 20px
}
.show_giohang_sanpham{
    text-align: center;
}
.show_giohang_sanpham i{
    font-size: 70px;
    color: #24a8d8;
}
.show_giohang_sanpham p {
    font-size: 16px;
}


/* Show thông báo */
.hienthi_thongbao_relative{
    position: relative;
}

.show_thongbao{
    display: none;
    position: absolute;
    width: 345px;
    right: 0;
    background-color:#FFFFFF;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}
.show_thongbao_title b{
    font-size: 20px;
    margin-left: 16px;
}
.show_thongbao_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;

}
.show_thongbao_content p{
    font-size: 16px;
    margin-top: 10px;
}

/* Hiển thị lời mời kết bạn */
.hienthi_friend_relative
{
    position: relative;
}
.show_friend_acp{
    display: none;
    position: absolute;
    width: 345px;
    right: 0;
    background-color:#fafafb;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding-bottom: 30px;
}
.show_friend_acp_title{
    display: flex;
    margin-top: 10px;
}
.show_friend_acp_title a{
    text-decoration: none;
    margin-left:90px ;
    margin-top: 5px;
    color: #24a8d8;
    font-size: 14px;
}
.show_friend_acp p{
    margin: 0;
    margin-bottom: 5px;
}
.show_friend_acp b{
    font-size: 20px;
    margin-left: 16px;
    margin-bottom: 15px;
}
.show_friend_acp_obj{
    display: flex;
    margin-left: 16px;
    margin-top: 10px;
}
.show_friend_acp_obj_avt{
    margin-top: 8px;
}
.show_friend_acp_obj_name{
    margin-left: 25px;
}
.show_friend_acp_obj_name b{
    font-size: 15px;
    margin: 0;
}
.show_friend_acp_obj .btn_dongY{
    background-color: #24a8d8;
    color: #ffffff;
    margin-right: 8px;
}
.show_friend_acp_obj .btn_tuChoi{
    background-color: #e0e0e0;
    color: #212121;
}
/* END HIỂN THỊ CHỨC NĂNG */


/* START INFO USER */
.main_card_infoUser{
    height: 490px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin-top: 80px;
    background-color:#FFFFFF ;

}
.main_card_infoUser_name{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
.main_card_infoUser_name_left{
    margin-right: 16px;
}
.main_card_infoUser_name_right{
    margin-top: -7px;
}
.main_card_infoUser_name_right h6{
    margin-bottom: 0;
}
.main_card_infoUser_name_right p{
    color: #929A9B;
    margin-top: 3px;
}
.main_card_infoUser_function{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 18px;
}
.main_card_infoUser_function a{
    width: 100%;
    height: 48px;
    display: flex;
    text-decoration: none;   
}
.main_card_infoUser_function_icon{
    margin-right: 12px;
    width: 35px;
}
.main_card_infoUser_function_text{
    font-size: 15px;
    margin-top: 5px;
    color: #767676;
}

.main_card_site{
    height: 145px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin-top: 16px;
    background-color:#FFFFFF ;
}

.main_card_site_top{
    margin-left: 22px;
    margin-top: 12px;
    
}
.main_card_site_top b{
    font-size: 16px;
}
.my_btn_crPage{
    border: 1px solid #929A9B;
    margin-left: 35px;
    width: 240px;
}
.main_card_site_friend{
    height: 100px;
}
.main_card_site_top span{
    color: #24a8d8;
    margin-left: 60px;
}


.my_card_wt{
    margin-top: 16px;
}
/* END INFO USER */


/* START FORM COMMENT */
.main_info_tour_comment_formComment{
    display: flex;
    padding-bottom: 10px;
}
.main_info_tour_comment_formComment_right{
    display: flex;
    border-radius: 25px;
    background-color: #F5F5F5;
    height: 48px;
    width: 100%;
    margin-left: 4px;
    
}
.main_info_tour_comment_formComment_right_enter{
    flex-basis: 85%;
}
.main_info_tour_comment_formComment_right_iconf{
}
.main_info_tour_comment_formComment_right input{
    border: none;
    outline: none;
    background-color: #F5F5F5;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.main_info_tour_comment_formComment_right_enter ::placeholder{
    font-size: 16px;
}
.main_info_tour_comment_formComment_right_icon{
    margin-top: 15px;
}
.main_info_tour_comment_formComment_right_icon a{
    font-size: 18px;
    /* margin-left: 12px; */
    color: #6C6C6C;
}
.div_container_option{
    /* display: none; */
}
.my_box_comment{
    border: 1px solid black;
}

.btn_show_option i{
    /* display: none; */
}
.btn_show_option:hover  i
{
    /* display: block; */
}
.btn_show_option span{
    margin-left: 16px;
}
/* END FORM COMMENT */

/* START CSS SCROLL */
.my_col1{
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* END CSS SCROLL */


/* Position */
@media (max-width: 370px) { 
    .btn_menu_hide{
        display: none;
    }
}
